<div class="wrapper">

  <mat-form-field class="top-fields" appearance="fill">
    <mat-label>Kategori</mat-label>
    <mat-select>
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{category.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p class="top-fields">
    <mat-form-field appearance="fill">
      <mat-label>Från:</mat-label>
      <input matInput [matDatepicker]="picker1">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Till:</mat-label>
      <input matInput [matDatepicker]="picker2">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </p>

  <mat-form-field class="top-fields" appearance="fill">
    <mat-label>Sök</mat-label>
    <input matInput placeholder="Ex. kungen, hund, bil">
  </mat-form-field>

  <button mat-raised-button>Sök</button>
</div>

<div>
  <app-image-list></app-image-list>
</div>
