
p {
  width: 250px;
}

.wrapper {
  margin: auto;
  width: 1000px;
  height: 200px;
  outline: grey solid 1px;
  display: flex;
  justify-content: center;

}
.top-fields {
   margin-top: 2em;
  margin-left: 8px;
}

button {
  margin-top: 8em;
  margin-left: 50px;
  height: 50px;
  width: 200px;
}




