<div class="mat-elevation-z12 mat-toolbar" >


    <img
    height="150"
    alt="Bothnia Bladet logo"
    src="assets/logo.png"
    />

    <button  routerLink="/search" class="buttonSearch buttonColor mat-raised-button">
      SÖK BILDER

    </button>

    <button  routerLink="/upload" class="buttonUpload buttonColor mat-raised-button">
      LADDA UPP BILDER

    </button>

    <button routerLink="/login-page" class="buttonLogIn buttonColor mat-raised-button">

      LOGGA IN
    </button>
    <button  routerLink="/register-user-page" class="buttonSignUp buttonColor mat-raised-button">
      REGISTRERA DIG
    </button>
</div>
