.mat-toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: azure ;
  color: #181f33;
  font-weight: 600;
}
.toolbar button {
  height: 28px;
}

.buttonSearch {
  margin-left: auto;
}

.buttonLogIn {
  margin-left: auto;
}

.buttonSignUp {
  margin-left:16px;
}



.buttonUpload {
  margin-left: 16px;
}



.toolbar img {
  margin: 0 16px;
}

.buttonActiveColor.active {
  background-color: #7ad3bd;
  color: #181f33;;
}
.buttonColor {
  background-color: #181f33;
  color: azure;
}


