<div class="mat-elevation-z12" >
  <mat-toolbar>


    <img
    height="150"
    alt="Bothnia Bladet logo"
    src="assets/logo.png"
    />

    <button mat-raised-button class="buttonSearch buttonActiveColor">
      SÖK BILDER

    </button>

    <button mat-raised-button class="buttonUpload buttonColor">
      LADDA UPP BILDER

    </button>

    <button mat-raised-button class="buttonLogIn buttonColor">

      LOGGA IN
    </button>
    <button mat-raised-button class="buttonSignUp buttonColor">
      REGISTRERA DIG
    </button>
  </mat-toolbar>
</div>
