<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" type="text/css" href="account-page.component.css">
</head>
<body>

<div class='parent'>
  <h1>Mitt Konto</h1>


  <div class='child' style="border-color: lightgray;">
    <p style="text-align: center;"><u>Mina uppgifter</u></p>
    <p>Namn: Sven Svensson</p>
    <p>Adress:Luleåvägen 34 </p>
    <p>Ort: Luleå</p>
    <p>Postnummer: 977 52</p>
    <p>Företag: LTU</p>
    <p>Kontotyp: Företagskonto</p>
    <p></p>
  </div>



  <div class='child' style="border-color: white;">
    <p style="font-size: 18px;"><u>Kontohantering</u></p>
    <button class="mat-raised-button" style="background-color: #181f33; color: white">Ändra Uppgifter</button>
    <br>
    <br>
    <button class="mat-raised-button" style="background-color: #181f33; color: white">Logga Ut</button>
  </div>


</div>

</body>
</html>
