 <form class="wrapper mat-elevation-z12" [formGroup]="form" (ngSubmit)="showSearch(form)">
  <mat-form-field class="top-fields" appearance="fill">
    <mat-label>Kategori</mat-label>
    <mat-select matNativeControl name="category" formControlName="category">
      <mat-option value="Sport">Sport</mat-option>
      <mat-option value="Politics">Politik</mat-option>
      <mat-option value="Entertainment">Nöje</mat-option>
    </mat-select>
  </mat-form-field>

  <p class="top-fields">
    <mat-form-field appearance="fill">
      <mat-label>Från:</mat-label>
      <input matInput [matDatepicker]="picker1">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Till:</mat-label>
      <input matInput [matDatepicker]="picker2">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </p>

  <mat-form-field class="top-fields" appearance="fill">
    <mat-label>Sök</mat-label>
    <input matInput placeholder="Ex. kungen, hund, bil">
  </mat-form-field>

  <button mat-raised-button type="submit">Sök</button>
    </form>

<div class="image-list">
  <table *ngIf="imageList">
    <tr *ngFor="let i of rowIndexArray">
      <td>
        <div class="imagebox">
          <img [src]="imageList[3*i].imageUrl" class="img-fluid">
          <span class="imagebox-desc">{{imageList[3 * i].title}}</span>
        </div>
      </td>
      <td *ngIf="imageList[3*i+1]">
        <div class="imagebox">
          <img [src]="imageList[3*i+1].imageUrl" class="img-fluid">
          <span class="imagebox-desc">{{imageList[3 * i + 1].title}}</span>
        </div>
      </td>
      <td *ngIf="imageList[3*i+2]">
        <div class="imagebox">
          <img [src]="imageList[3*i+2].imageUrl" class="img-fluid">
          <span class="imagebox-desc">{{imageList[3 * i + 2].title}}</span>
        </div>
      </td>
    </tr>
  </table>
</div>
