<div style="text-align: center">
  <mat-form-field class="top-fields" appearance="fill">
    <mat-label>Namn</mat-label>
    <input matInput placeholder="Sven Svensson">
  </mat-form-field>
  <br>
  <mat-form-field class="top-fields" appearance="fill">
    <mat-label>Mail</mat-label>
    <input matInput placeholder="sven.svensson@gmail.com">
  </mat-form-field>
  <br>
  <mat-form-field class="top-fields" appearance="fill">
    <mat-label>Lösenord</mat-label>
    <input matInput placeholder="">
  </mat-form-field>
  <br>
  <button class="mat-raised-button" style="background-color: #181f33; color: white">Registrera</button>
</div>
