<style xmlns="http://www.w3.org/1999/html">

  .mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: azure ;
    color: #181f33;
    font-weight: 600;
  }
  .toolbar button {
    height: 28px;
  }

  .buttonSearch {
    background-color: #7ad3bd;
    margin-left: auto;
  }

  .buttonLogIn {
    background-color: #181f33;
    color: azure ;
    margin-left: auto;
  }

  .buttonSignUp {
    background-color: #181f33;
    color: azure ;
    margin-left:16px;
  }



  .buttonUpload {
    background-color: #181f33;
    color: azure;
    margin-left: 16px;
  }



  .toolbar img {
    margin: 0 16px;
  }


</style>

<!-- Toolbar -->
<mat-toolbar class="mat-elevation-z12">
  <img
    height="150"
    alt="Bothnia Bladet logo"
    src="assets/logo.png"
  />

  <button mat-raised-button class="buttonSearch">
    SÖK BILDER

  </button>

  <button mat-raised-button class="buttonUpload">
    LADDA UPP BILDER

  </button>

  <button mat-raised-button class="buttonLogIn" >

    LOGGA IN
  </button>
  <button mat-raised-button class="buttonSignUp">
    REGISTRERA DIG
  </button>



</mat-toolbar>


